@import '~flickity/dist/flickity.css';

$primary: #5CCC89;
$text-light: #FFFFFF;
$text-dark: #262322;
$text-dark-secondary: #504E4D;
$text-muted: #BBBBBB;
$bg-light: #FFFFFF;
$bg-dark: #F2F2F2;
$bg-darker: #504E4D;

$laptop: 1280px;


/**
* -----------------------------------------------------------
* Background Color Helpers
* -----------------------------------------------------------
**/

.bg-primary {
  background-color: $primary;
}

.bg-light {
  background-color: $bg-light;
}

.bg-dark {
  background-color: $bg-dark;
}

.bg-darker {
  background-color: $bg-darker;
}


/**
* -----------------------------------------------------------
* Text Color Helpers
* -----------------------------------------------------------
**/

.text-primary {
  color: $primary;
}

.text-light {
  color: $text-light;
}

.text-dark {
  color: $text-dark;
}

.text-dark-secondary {
  color: $text-dark-secondary
}

.text-muted {
  color: $text-muted;
}


/**
* -----------------------------------------------------------
* Font Helpers
* -----------------------------------------------------------
**/

.font-display-regular {
  font-family: halyard-display,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-display-medium {
  font-family: halyard-display,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-text-lightItalic {
  font-family: halyard-text,sans-serif;
  font-weight: 200;
  font-style: italic;
}

.font-text-regular {
  font-family: halyard-text,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-text-italic {
  font-family: halyard-text,sans-serif;
  font-weight: 400;
  font-style: italic;
}

.font-text-medium {
  font-family: halyard-text,sans-serif;
  font-weight: 500;
  font-style: normal;
}


/**
* -----------------------------------------------------------
* Drop Shadow Helpers
* -----------------------------------------------------------
**/

.shadow-t-sm {
  text-shadow: 0px 3px 6px #00000033;
}

.shadow-t-md {
  text-shadow: 0px 3px 12px #00000033;
}

.shadow-t-lg {
  text-shadow: 0px 3px 24px #00000033;
}

/**
* -----------------------------------------------------------
* Layout Helpers
* -----------------------------------------------------------
**/

.wrapper {
  margin-right: 2rem;
  margin-left: 2rem;
}

/* Small (sm) */
@media (min-width: $laptop) {

  .wrapper {
    margin-right: 10rem;
    margin-left: 10rem;
  }

}

/**
* -----------------------------------------------------------
* Sizing Helpers
* -----------------------------------------------------------
**/

.h-128 {
  height: 32rem;
}

/**
* -----------------------------------------------------------
* Header Styles
* -----------------------------------------------------------
**/

.header {
  position: relative;
  background: linear-gradient(180deg, #8CA6DB 0%, #B196D7 100%);
}

.header:after {
  content: '';
  z-index: 100;
  position: absolute;
  bottom: -8px;
  height: 8px;
  width: 100%;
  background: linear-gradient(180deg, #B196D7 0%, #B993D6 100%);
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
}


/**
* -----------------------------------------------------------
* Section Styles
* -----------------------------------------------------------
**/

.section {
  position: relative;
}

.section:after {
  content: '';
  z-index: 100;
  position: absolute;
  bottom: -8px;
  height: 8px;
  width: 100%;
  background-color: inherit;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.06);
}


/**
* -----------------------------------------------------------
* Footer Styles
* -----------------------------------------------------------
**/

.footer {
  background: linear-gradient(180deg, #B993D6 0%, #8CA6DB 100%)
}

/**
* -----------------------------------------------------------
* Flickity Slider Styles
* -----------------------------------------------------------
**/

.flickity-button {
  background: $primary;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.flickity-button:hover {
  background-color: #68d391;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.flickity-button-icon {
  fill: white;
}

.flickity-page-dots {
  display: none;
}


.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}